<div class="panel panel-default" ng-init="edit = false">

	<div class="panel-heading">
		<h3 class="panel-title">Author</h3>
		<div class="panel-action">
			<button ng-show="!edit" ng-click="edit = !edit" class="btn btn-sm btn-success pull-right"><span class="glyphicon glyphicon-pencil"></span> Edit</button>
			<button ng-show="edit" ng-click="edit = !edit; saveAuthor();" class="btn btn-sm btn-success pull-right"><span class="glyphicon glyphicon-pencil"></span> Save</button>
		</div>
	</div>

	<div class="panel-body">

		<div class="form-group">
			<label>Name</label>
			<input ng-show="edit" type="text" class="form-control" ng-model="author.name">
			<p ng-show="!edit">{{author.name}}</p>
		</div>

		<div class="form-group">
			<label>Surname</label>
			<input ng-show="edit" type="text" class="form-control" ng-model="author.surname">
			<p ng-show="!edit">{{author.surname}}</p>
		</div>

	</div>
</div>